/* Adding a background color to the top navigation */
.navbar {
  background-color: #a445b2;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #f2f2f2;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: #f2f2f2;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #c877d4;
  color: black;
  border-radius: 8px;
}

/* Adding an active class to highlight the current page */
.navbar a.active {
  background-color: #c877d4;
  color: white;
}

/* Adding CSS for navbar logo */
.logo {
  display: block;
  margin: auto;
}

.title {
  text-align: center;
}

.option-choices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.line {
  border-bottom: 3px solid black;
}

/* Thick black border */
.line {
  border: 2px solid black;
}

.choices {
  width: max-content;
  margin-left: 1em;
}
